
.map-panel{
    width: 100%;
    height: 100%;
    float: right;
}

.map {
    width: 100%;
    height: 100%;
    float: right;
}

.fullscreen:-webkit-full-screen {
    height: 100%;
    margin: 0;
}


.fullscreen {
    margin-bottom: 10px;
    width: 100%;
    height: 500px;
}

.fullscreen:fullscreen {
    height: 100%;
}

.map.side {
    width:80%;
    height: 100%;
    float: right;
}

.sidepanel {
    width: 20%;
    height: 100%;
    float: left;
}

.sidepanel-title {
    width: 100%;
    font-size: 3em;
    color: #ffffff;
    display: block;
    text-align: center;
}

.grid p-fluid {
    border:2px solid black !important;
}


