<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <h4>Map</h4>
            <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <div id="fullscreen" class="fullscreen" >
                            <div class="topbar-map">
                                <konumsal-map-status-bar [map]="map"></konumsal-map-status-bar>
                            </div>
                            <div *ngIf="isVisibleLayers" class="sidepanel">

                                <p-listbox [options]="groupedCities" [group]="true" [(ngModel)]="selectedCountries"
                                           [metaKeySelection]="false" [checkbox]="true" [filter]="true"
                                           [multiple]="true"
                                           [style]="{'width':'100%','height':'100%','overflow':'auto'}">
                                    <ng-template let-group pTemplate="group">
                                        <div class="align-items-center">
                                            <span>{{group.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-listbox>
                            </div>

                            <div id="map" class="map"></div>
                            <div id="popup" class="ol-popup">
                                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                                <div id="popup-content"></div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
